.header {
  padding: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: none;
}

.menu-mobile p {
  font-weight: 900;
  text-align: start;
  margin: 16px 0;
  font-size: 24px;
  padding-left: 40px;
  color: #1b1d23;
}

.menu-mobile p {
  color: black;
  letter-spacing: 3px;
}

.menu-mobile {
  display: none;
}

.menu-mobile.visible {
  display: block;
}

.menu-mobile {
  position: absolute;

  right: 0;
  width: 95%;
  background-color: #eeeff4;
  z-index: 9999;
  display: none;
  padding: 40px 0;
}

.menu-mobile.visible {
  display: block;
}

@media (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
  .header {
    justify-content: space-evenly;
    align-items: center;
  }
  .header-wrap {
    padding: 2vw 10vw;
  }
  .arch {
    position: absolute;
    left: 10vw;
    top: 4vw;
  }

  .hamburger {
    display: none;
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .navbar p {
    color: #7d828f;
    font-weight: 800;
    margin: 0 40px;
  }
}

@media (min-width: 1336px) {
  .navbar p:hover {
    color: #1b1d23;
    cursor: pointer;
  }
  .header img {
    position: relative;
    left: 0;
    top: 0;
    margin-right: 10vw;
  }

  .header {
    justify-content: start;
    font-size: 24px;
  }
}
