.details {
  margin-top: 340px;
}
.details p {
  font-weight: 600;
}

.details h4 {
  font-weight: 800;
}

.details img {
  margin-top: 60px;
}

.connect {
  margin-top: 100px;
}
.connect h2 {
  margin-bottom: 50px;
}

.container {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  border-bottom: 1px black solid;
  padding-left: 20px;
}
div.error {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #df5656;
}

div.error input::placeholder {
  position: absolute;
  font-weight: 600;
  font-size: 20px;
  color: #df5656;
  opacity: 50%;
}

span.error {
  color: #df5656;
  font-weight: 600;
  font-size: 12px;
}
.container input::placeholder {
  position: absolute;

  font-weight: 600;
  font-size: 20px;
}

input:focus {
  outline: none;
  font-weight: 600;
  color: #1b1d23;
}

.arrow {
  position: absolute;
  margin-top: -40px;
  right: 0;
}

.map-desk {
  display: none;
}

@media (min-width: 768px) {
  .offices {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .offices img {
    height: 30px;
    position: absolute;
    bottom: 10%;
    right: 0;
  }
  #form-arrow {
    margin-right: 13vw;
  }
}

@media (min-width: 1336px) {
  .details {
    display: flex;
    justify-content: space-between;
  }
  .offices {
    display: block;
    margin-top: -2vw;
    font-size: 22px;
    line-height: 40px;
  }

  .offices img {
    position: relative;
    margin-top: 80px;
  }
  .map-mob {
    display: none;
  }
  .map-desk {
    display: block;
  }
  .connect {
    display: flex;
    justify-content: space-between;
  }
  form {
    width: 100%;
  }
}
