.welcome h1 {
  display: none;
}
.see-all-tab {
  display: none;
}

.small-tab {
  display: none;
}
.welcome img {
  display: none;
}
.gallery {
  display: none;
}
@media (min-width: 768px) {
  .home {
    padding: 0 10vw;
  }

  .home h2 {
    font-size: 70px;
  }
  .param h2 {
    font-size: 96px;
    margin-top: 20vw;
  }

  #param-text {
    padding: 0 70px;
  }
  .welcome h1 {
    display: block;
    font-size: 120px;
    margin-top: 100px;
  }
  .welcome h2 {
    margin-bottom: 50px;
  }
  .welcome {
    margin-bottom: 200px;
  }
  hr {
    display: none;
  }

  .see-all-mob {
    display: none;
  }

  .see-all-tab {
    display: block;
  }
  #home-div {
    padding: 4vw;
  }
  #home-feat {
    padding: 0;
  }
  #home-feat h2 {
    margin-bottom: 70px;
  }
  #small-team h2 {
    font-size: 96px;
    margin-top: 8vw;
    margin-bottom: 60px;
  }
  #small-team {
    padding: 0 70px;
  }

  .small-tab {
    display: block;
    margin-bottom: 200px;
  }

  .small-mob {
    display: none;
  }
}

@media (min-width: 1336px) {
  .projects {
    display: flex;
  }
  .projects div {
    width: 100%;
  }
  .projects div:nth-child(2) {
    margin: 0 2vw;
  }
  .small-tab {
    display: none;
  }
  .welcome img {
    display: block;
    width: 500px;
    margin-top: 300px;
    margin-left: 6vw;
  }
  .welcome {
    display: flex;
    position: relative;
  }
  .mob-build {
    display: none;
  }
  .param h2 {
    margin-top: 8vw;
  }

  #small-team h2 {
    margin-top: 3vw;
  }
  .welcome {
    justify-content: center;
  }
  .welcome p {
    font-size: 18px;
    width: 500px;
    line-height: 40px;
  }
  .welcome h1 {
    font-size: 250px;
    position: absolute;
    margin-left: -5vw;
  }
  .welcome h2 {
    margin-top: 380px;
  }
  #home-div {
    padding: 2vw;
  }

  #paragraph {
    font-size: 24px;
    line-height: 44px;
    width: 80%;
  }

  #param-text {
    padding: 0vw 8vw;
  }

  #headers {
    font-size: 5vw;
    width: 50%;
  }
  #button {
    margin-right: 70px;
    width: 400px;
    padding: 24px;
    font-size: 22px;
  }
  .gallery {
    display: flex;
    position: absolute;
    margin-top: -3vw;

    margin-left: -5.2vw;
  }
  .gallery p {
    padding: 2vw;
    font-size: 20px;
    color: #7d828f;
    background-color: white;
    font-weight: 600;
  }
  .gallery p:hover {
    background-color: #eeeff4;
    cursor: pointer;
  }

  .gallery p.active {
    background-color: #1b1d23;
    color: white;
  }
  .see:hover {
    background-color: #60636d;
    cursor: pointer;
  }
}
