.welcome h1 {
  display: none;
}
.see-all-tab {
  display: none;
}

.small-tab {
  display: none;
}
@media (min-width: 768px) {
  .home {
    padding: 0 10vw;
  }

  .home h2 {
    font-size: 70px;
  }
  .param h2 {
    font-size: 96px;
    margin-top: 20vw;
  }

  #param-text {
    padding: 0 70px;
  }
  .welcome h1 {
    display: block;
    font-size: 120px;
    margin-top: 100px;
  }
  .welcome h2 {
    margin-bottom: 50px;
  }
  .welcome {
    margin-bottom: 200px;
  }
  hr {
    display: none;
  }

  .see-all-mob {
    display: none;
  }

  .see-all-tab {
    display: block;
  }
  #home-div {
    padding: 4vw;
  }
  #home-feat {
    padding: 0;
  }
  #home-feat h2 {
    margin-bottom: 70px;
  }
  #small-team h2 {
    font-size: 96px;
    margin-top: 8vw;
    margin-bottom: 60px;
  }
  #small-team {
    padding: 0 70px;
  }

  .small-tab {
    display: block;
    margin-bottom: 200px;
  }

  .small-mob {
    display: none;
  }
}

@media (min-width: 1336px) {
  .projects {
    display: flex;
  }
  .projects div {
    width: 100%;
  }
  .projects div:nth-child(2) {
    margin: 0 2vw;
  }
}
